.avatar {
  /* vertical-align: middle; */
  float: right;
  width: 50 px;
  height: 50px;
  margin: 1rem;
  border-radius: 50%;

}

.avname{

  font-size : large;
  color : rgb(206, 206, 198) ;;

}

.header{
 margin-top: -1.2rem;
 background-color: rgb(25, 37, 37);
}

.context-dark, .bg-gray-dark, .bg-primary {
  color: rgba(255, 255, 255, 0.8);
}

.section{
  height: 70px;
  background: #2d3246;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}

.inner{
  height: auto;
  overflow: hidden;

}

.inner img{
  transition: all 1s ease;
}

.inner:hover img {

  transform: scale(1.2);
}

.scrollbar-dusty-grass::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-dusty-grass::-webkit-scrollbar {
  width: 20px;
  background-color: #F5F5F5; }
  
  .scrollbar-dusty-grass::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #d4fc79 0%, #96e6a1 100%);
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); }
  
  
.square::-webkit-scrollbar-track {
  border-radius: 0 !important; }
  
  .square::-webkit-scrollbar-thumb {
  border-radius: 0 !important; }
  
  .thin::-webkit-scrollbar {
  width: 4px !important;}
  
  .example-1 {
  position: relative;
  overflow-y: scroll;
  height: 200px; }

  .rights{
    color: ivory;
      text-align: center;

  }

  .cent{
    margin-top: 1rem;
  }

  footer{
    text-align: center;
    background: #343a40;
    color:white;
    font-size: 1em;
    width: 100%;
    height: 70px;
    overflow: hidden;
  }
  footer>p{
    margin-top: 1.5rem;
    height: auto;
  }