body {
  padding-top: 120px;
  padding-bottom: 40px;
  background-color: #eee;

}
.btn
{
 outline:0;
 border:none;
 border-top:none;
 border-bottom:none;
 border-left:none;
 border-right:none;
 box-shadow:inset 2px -3px rgba(0,0,0,0.15);
}
.btn:focus
{
 outline:0;
 -webkit-outline:0;
 -moz-outline:0;
}
.fullscreen_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('https://impressprinters.com/wp-content/uploads/2017/10/blurred-background-1.jpg');
  background-repeat:repeat;
}
.form-signin {
  max-width: 380px;
  padding: 15px;
  margin: 0 auto;
  margin-top:100px;
}
.form-signin .form-signin-heading, .form-signin {
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
 
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-color: #000;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  /* border-color: rgb(0,0,0);
  border-top:1px solid rgba(0,0,0,0.08); */
}
.form-signin-heading {
  color:black;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0,0,0,0.5); 
}

.msg{

color: red;
}

.form-control.ng-touched.ng-invalid{

  border: 2px solid red;
}